<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="app.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <nav class="navbar navbar-expand navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">FULLBASKET</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/products">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login User</a>
        </li>

      </ul>


    </div>

  </nav>

</head>

<body>



  <div class="card" id="cardprofile">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle"
      viewBox="0 0 16 16" id="profile">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </svg>
  </div>

  <div class="row" id="username">
    <h3 class="col-2">Username:</h3>
    <h3 class="col-2">
      <%=user.username%>
    </h3>
  </div>

  <div class="row" id="email">
    <h3 class="col-2">Email:</h3>
    <h4 class="col-2">
      <%=user.email%>
    </h4>
  </div>
  <div class="row" id="phonenumber">
    <h3 class="col-2">Phone Number:</h3>
    <h5 class="col-2">
      <%=user.phonenumber%>
    </h5>

  </div>



  <style>
    #username {
      margin-left: 500px;
    }

    #email {
      margin-left: 500px;
    }

    #phonenumber {
      margin-left: 500px;
    }

    #profile {
      width: 250px;
      height: 250px;
      align-self: center;
      margin-top: 125px;
    }

    #cardprofile {
      width: 500px;
      height: 500px;
      border-radius: 50px;
      border-width: 10px;
      border-color: black;
      margin-left: 500px;
    }
  </style>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <script src="/public/javascripts/validateForms.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

</body>

<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; FULLBASKET</span>
  </div>
</footer>


</html>